.boxcenter {
  margin: auto;
  width: 800px;
  height: 450px;
  position: relative;
}
.tieudeslide {
  position: absolute; /* Position the background text */
  bottom: 100px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 500px; /* Full width */
}
img {
  width: 600px;
  height: 400px;
}
.mauchu {
  color: green;
  text-align: center;
}
.dong {
  bottom: 0px;
  margin: 0 auto;
}
.btndk {
  width: 100px;
  height: 50px;
  background-color: orange;
  text-align: center;
  font-size: 18px;
  border: 0px;
  border-radius: 5px;
}
